extends layout

block content
  h1= title
  if category_list.length
    ul
      each category in category_list
        li
          a(href=`/inventory${category.url}` class="text-blue-700 hover:text-blue-800") #{category.name}

  else
    p There are no categories.