extends layout

block content

  h1(class="text-4xl")= title 

  form(method='POST')
    div(class="space-x-2")
      label(for='name') Name: 
      input#name(type='text', placeholder='Name of Category' name='name' required value=(undefined===category ? '' : category.name))
    div(class="space-x-2")
      label(for='description') Description: 
      input#name(type='text', placeholder='Description of Category' name='description' value=(undefined===category ? '' : category.description))
    button(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li(class="text-red-600")!= error.msg