extends layout

block content
  div(class="space-y-0")
    h1(class="text-4xl") #{title}
    p Welcome to #[em Game Inventory App], a very basic express website.

  div(class="space-y-0")
    h2(class="text-2xl") Inventory Count
    p The inventory has the following counts: 

    ul 
      li #[strong Platforms:] !{category_count}
      li #[strong Games:] !{item_count}
