extends layout

block content
  div(class="space-y-2")
    h1(class="text-4xl")= title
    if item_list.length
      ul
        each item in item_list
          li
            a(href=item.url class="text-blue-700 hover:text-blue-800") #{item.name} 
            if item.categories.length
              = ' ('.concat(item.categories.map(category => category.name.split(' ')[0]).join(', '), ')')

    else
      p There are no items.